body section{
    animation: fadeIn 3s ease-in;
}

header{
    
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate__animated.animate__backInRight {
    --animation-delay: 3s;

  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg3.png);
    background-attachment: fixed; /* Enables the parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background-image: url('bg1.jpg'); /* Replace with your image URL */
    text-align: center;
    padding: 10px 0;
}
section {
    margin: 0 auto; /* Centers the section horizontally */
    width: 80%; /* Adjust the width to your preference */
    text-align: justify;
    border-radius: 5px;
    color: rgb(208, 151, 53); /* Adjust text color for contrast */
    background-position: center;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
h1, h2 {
    text-align: center;
    color: rgb(208, 151, 53);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
.act1 {
    background-image: url('bg1.jpg'); /* Replace with your image URL */
}
.image-slots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.image-slots img {
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    border-radius: 80%; /* Makes the images circular */
    margin: 0 10px;
    border: 2px solid rgb(208, 151, 53); /* Optional: adds a border */
}

.divider {
    height: 2px; /* Height of the separator */
    background-color: rgb(208, 151, 53); /* Color of the separator */
    margin: 0; /* Removes default margins */
}

footer {
    background-image: url('bg1.jpg'); /* Replace with your image URL */
    color: rgb(208, 151, 53);
    text-align: center;
    padding: 5px 0;
    position: relative; /* Makes the footer stay at the bottom */
    bottom: 0;
    width: 100%;
}

footer a {
    color: #4caf50; /* Green hyperlink */
    text-decoration: none; /* Removes underline */
    font-weight: bold;
}

footer p {
    color: #4caf50; /* Green hyperlink */
    text-decoration: none; /* Removes underline */
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline; /* Adds underline when hovered over */
}
